<% if @training_report.errors.any? %>
  <div id="error_explanation">
    <h2 class="alert alert-danger">
      <%= I18n.t("errors.messages.not_saved",
                 count: @training_report.errors.count,
                 resource: @training_report.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% @training_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
