<% provide(:title, 'All users') %>
<h1>ようこそ筋トレ管理アプリ（仮名）へ！</h1>

#このページにユーザー一覧と筋トレに役立つ情報、計算表を記載する。（マクロ管理法）

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.nickname, user %>
      <% if current_user&.admin? && !current_user?(user) %>
        | <%= link_to "削除", user, method: :delete,
                                  data: { confirm: "データを削除しますか?" } %>
      <% end %>
    </li>
  <% end %>
</ul>