<h1>こんにちは、<%= current_user.nickname %>さん</h1>
<p id="notice"><%= notice %></p>

<%= link_to '筋トレメニューを作成する', training_menus_path %><br>

<%= link_to '筋トレ内容を報告する', training_reports_path(id: current_user.id) %>
