<% provide(:title, "@user.nickname") %>
  <div class="row">
    <aside class="col-md-4">
        <section class="user_info">
        <%= render 'shared/user_info' %>
        </section>
        <section class="training_report_form">
        <%= link_to '投稿する', new_user_training_report_path %>
        </section>
    </aside>
    <div class="col-md-8">
        <% if @user.training_reports.any? %>
        <h3>全ての投稿数(<%= @user.training_reports.count %>)</h3>
        <ol class="training_reports">
            <%= render partial: 'training_report' %>
        </ol>
        <% end %>
    </div>
  </div>