<p id="notice"><%= notice %></p>

<p>
  <strong>投稿内容</strong>
  <%= @training_report.content %>
</p>

<%= link_to '戻る', user_training_reports_path %>|
<%= link_to '削除', "#{@training_report.id}", method: :delete %>