<%= form_with(model: @training_menu, local: true) do |form| %>

    <div class="title">
      <%= form.label :メニュー名 %>
      <%= form.text_field :training_menu %>
    </div>
  
    <div class="submit">
      <%= form.submit %>
      
    </div>
  
<% end %>